{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">


    <h1>Welcome to Popularity App!</h1>
    <h3>Here you can find popularity across products and categories based on geographical location</h3>
    <div>
        <li>
            <b>Get Popular Categories </b>- Provides top popular categories for a given city
        </li>
        <li>
            <b>Get Popular Products</b> - Provides top popular products for a given city and category
        </li>
        <li>
            <b>Get Popular Categories and Products</b> - Provides top popular categories and the products within them for a given city
        </li>
        <li>
            <b>Get Global Product Popularity</b> - Provides global popularity for the given product sku ids.
        </li>
    </div>

</div>


{% endblock %}
